<div class="header">
  <h1><%= @restaurant.name %></h1>
</div>

<div class="card">
  <div class="card-body">
    <i class="fas fa-map-marker-alt"></i><span> </span>
    <%= @restaurant.address %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <i class="fas fa-mobile-alt"></i><span> </span>
    <%= @restaurant.phone_number %>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <span><strong>Cuisine: </strong></span><%= @restaurant.category.capitalize %>
  </div>
</div>
<hr>
<h2>Reviews</h2>
<% @reviews.each do |review| %>
  <div class="card">
    <div class="card-body card-list">
      <div class="list-item">
        <div>
          <% i = 0 %>
          <% while i < review.rating %>
            <i class="fas fa-star" style="color: #ede202"></i>
            <% i += 1 %>
          <% end %>
          <% i = 5 %>
          <% while i > review.rating %>
            <i class="fas fa-star" style="color: #f0efda"></i>
            <% i -= 1 %>
          <% end %>
        </div>
        <div>
          <%= review.content %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<hr>
<div class="card">
  <div class="card-body card-list">
    <a href="tasks/new">
      <i class="fas fa-plus"></i>
      <%= link_to 'Add a new review', new_restaurant_review_path(@restaurant) %>
  </div>
</div>
<hr>
<a href="/">
  <div>
    <i class="fas fa-arrow-left"></i>
    <span>Back to list</span>
  </div>
</a>
